/*
 * Estilos de tu proyecto
 */
 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Establece la fuente de Google aquí */
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

/*codigos*/
header{ /*fondo celeste donde monito*/
  position: fixed;
  background: #4DD1FF;
  width: 100%;
  top: 0;
  color: whitesmoke;
}

.menu{
  padding: 0 17px;
  overflow: auto;
  background-color: #1C163E;
}

.link{
  color: whitesmoke;
  text-decoration: none;
  margin: 19px 9px;
  display: inline-block;
}

.link:hover{
  background-color: #4DD1FF;
  height: 0;
}

.t{
	float: left;
	padding: 15px;
	margin: 0 760px 0 0;
}

/*seccion 2*/

.container2{
	height: 517px;
	background-color: #4BB792;
}

.monito{
	width: 180px;
	display: block; /*margin y display para centrar y bajar un poquito*/
	padding: 129px 0 0 0;
	display: block;
	margin: 0 auto;
}

.textbajostart{
	color: whitesmoke;
	text-align: center;
}

.tit2{
	color: whitesmoke;
	text-align: center;
}

.h2Port{
	text-align: center;	
	color: black;
	font-size: 30px;
}

.linea{
	width: 116px;
	height: 4px;
	background-color: whitesmoke;
}

/*seccion 3*/

.imgSec3{
    width: 100%;
    height: auto;
    cursor: pointer;
}